body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Kong Text";
  src: url("./css/fonts/kongtext/kongtext.ttf");
  }
  @font-face {
    font-family: "Digital Clock";
    src: url("./css/fonts/digital-7/digital-7.ttf");
    }

/* .header-poke{
  clip-path: polygon(21% 53%, 100% 52%, 99% 70%, 29% 71%, 19% 80%, 0% 80%, 0 53%);

} */

.pokedex-container{
   /* border: 1px solid purple; */
    height: 600px;
    width: 60%;
    margin: 30px auto;
    display: flex;
    border-radius: 2px;
}

.left-pokedex-container{
  height: 600px;
  width: 50%;
  /* border: 1px solid purple; */
  border-radius: 2px;
}
.right-pokedex-container{
  height: 535px;
  width: 50%;
  /* border: 1px solid purple; */
  border-radius: 2px;
  align-self: flex-end;
  
}
.poke-light-container{
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
}
.right-light-cutout{
  transform: rotateY(180deg);
  transform: rotateX(180deg);
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
}
.right-light-cutout .box-1,
.right-light-cutout .box-3 {
  background: #EF5753;
}
.right-light-cutout .box-2{
  border-left: 59px solid #EF5753;
}
.box-1{
  width: 50%;
  height: 100px;
  background: #CC1F1A;
 display: flex;
 align-items: center;
}
.box-2{
  border-top: 50px solid transparent;
  border-left: 59px solid #CC1F1A;
  border-bottom: 50px solid transparent
  }
.box-3{
  width: 50%;
  height: 65px;
  background: #CC1F1A;
  z-index: 1;
    position: absolute;
    right: 0;
}
.divider{
  width: 3%;
  height: 535px;
  align-self: flex-end;
}


.divider-box{
  border:1px solid black;
  height: 67px;
  width: 100%;
  border-radius: 2px;
}

/* Pokedex Lights */

.blue-light{
  margin: 10px;
  height: 73px;
  width: 40%;
  border-radius: 50%;
  border: 4px solid white;
  align-self: center;
}
.three-lights{
  display: flex;
  
}
.light{
  margin: 2px;
  width: 30%;
  height: 30px;
  border-radius: 50%;
}

.poke-screen{
  width: 80%;
  background:#DAE1E7;
  border-radius: 5px;
  margin: 15px auto;
  height: 300px;
  position: relative;
  display: flex;
}
.screen, .trans-screen{
  margin: 17px auto;
  width: 90%;
  height: 219px;
  background: #DAE1E7;
  align-self: flex-start;
}
.corner-style{
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid #EF5753;
  border-right: 40px solid transparent;
}

.screen img{
  border: 10px solid black;
  border-radius: 10px;
  width: 100%;
  height: 90%;
  margin: 0 auto;
}
.trans-screen img{
  border: none;
  width: 100%;
  height: 80%;
}


.bottom-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 85%;
  margin: 0 auto;
}
.name-bar{
  color: limegreen;
  background: black;
  width: 100%;
  margin: 0 10px;
  padding: 10px 7px;
  font-size: 2rem;
  border-radius: 3px;
  font-family: 'Digital Clock'
}
/* 
.left-triangle{
  width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 45px solid black;
    border-bottom: 25px solid transparent;
}
.right-triangle{
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 45px solid black;
  border-bottom: 25px solid transparent;
} */

.back-btn,
.fwd-btn {
  font-size: 8rem;
}
.back-btn:hover,
.fwd-btn:hover{
  cursor: pointer;
}

.name-bar p:hover{
  transform: rotate(5deg)
}


/* Flash animation */
.flashblue{
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { background: #6CB2EB; } 
	50% { background: pink } 
	100% { background: #6CB2EB; }
}
@keyframes flash {
	0% { background: #6CB2EB; } 
	50% { background: pink; } 
	100% { background: #6CB2EB; }
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out infinite both;
  animation: rotate-center 0.6s ease-in-out infinite both;
  border: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-2 9:27:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Right side of PokeDex */


.stat-screen-container{
  width: 100%;
  height: 230px;
  display: flex;
}
.stat-screen{
  width: 80%;
  background: black;
  margin: 0 auto;
  border: 10px solid #DAE1E7;
  border-radius: 7px;
}
.random-btns-container{
  height: 100px;
}
.random-btns{
  width: 60%;
  margin: auto;
  display: flex;
}
.blue-box{
  width: 20%; 
  height: 45px;
  background: #6CB2EB;
  border: 1px solid white;
}

.search-bar{
  height: 105px; 
}

.stat-name,
.stat-type,
.stat-moves{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stat-name p,
.stat-type p {
  margin: 0 15px;
}

.stat-moves .moves{
  text-align: left;
}
.stat-moves .moves p{
  margin-left: 15px;
}

.stat-name h2,
.stat-type h2,
.stat-moves h2 {
  font-family: "Digital Clock";
  margin-left: 7px;
}
